/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@font-face {
  font-family: "avenir";
  src: url('/fonts/Avenir-Medium.ttf');
}

@font-face {
  font-family: "quicksand";
  src: url('/fonts/Quicksand-Regular.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "avenir";
}